.table-container {
    display: flex;
}

.datatable{
    height : 400px;
    width : 100%;
}

.table {
    height : 350px;
    width : 100%;
    margin : 10px;
    box-shadow: 0.5px 0.5px 2px 2px #d7d3d3;
    overflow: scroll;
    border-radius:  5px;
}

.cellWrapper {
    display: flex;
    align-items: center;
}

.image{
    height: 32px;
    width : 32px;
    border-radius: 50%;
    margin-right: 10px;
}

