@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.navbar {
    display: flex;
    align-items: center;
    height : 50px;
    border-bottom: 4px solid #CD104D;
}
.logo {
    letter-spacing: 10px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    color : #A62349;
    flex : 1;
}

.container-one {
    flex : 2;
    display :flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.img-1{
    height: 40px;
    width : 40px;
    border-radius : 50%;
}

.img-2{
    margin-left: 12px;
    height: 40px;
    width : 45px;
    border-radius : 50%;
}
