@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.sidebar {
    width : 160px;
    height: 100vh;
    background-color: #F5EFE6;
}

.side-menu {
    margin :0;
    padding :0;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    color: grey;
    margin-top:0;
    margin-bottom: 10px;
    padding-top:10px;
    padding-left:10px;
    font-size: 12px;
}

.side-menu-item {
    display:flex;
    align-items: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 5px 5px 20px;
    color : #A62349;
    font-size: 14px;
}

.side-menu-item:hover {
    color : white;
    background-color : grey;
}

span {
    padding-left: 10px;
    font-weight: 400;
}

